* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
}

html {
    background-color: #292929;
    background-image: url('images/welcome-to-the-pound.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font: 1.25rem/1.125 'Gentium Book Basic', serif;
    padding: 0 0.5rem;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

header {
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#introduction {
    background: #191919;
    padding: 2em;
    text-align: center;
    color: #ddd;
    color: rgba(255,255,255,0.675);
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 100%;
    line-height: 1;
    font-family: 'Bevan', cursive;
}

#introduction em {
    font-size: 3em;
    font-style:normal;
    text-transform: uppercase;
    margin:.25em 0;
}

#introduction span {
    display:flex;
    flex-direction: row;
    color: rgba(255,255,255,0.425);
}

#introduction span:first-of-type {
    margin-bottom: 10px;
}

#introduction span:before,
#introduction span:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgba(255,255,255,0.325);
    margin: auto;
}

#introduction span:before {
    margin-right: 1em;
}

#introduction span:after {
    margin-left: 1em;
}

#main {
    max-width: 700px;
    margin: 0 auto;
    background: white;
    padding: 30px;
}

#main h1 {
    margin-bottom:0.5rem;
    font-size: 1.5rem;
}

#main h1 {
    margin-top: 2rem;
}

#main h1:first-of-type {
    margin-top:0;
}

#main h1 + ul {
    margin-top:0;
}

#town-council-list {
    list-style:none;
    padding-left:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

#town-council-list img {
    background: #999;
}

#town-council-list li {
    flex: 24%;
    max-width: 24%;
    margin-bottom: 2em;
}

#town-council-list #mayor,
#town-council-list #vice-mayor {
    flex: 49%;
    max-width: 49%;
}