<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Town of Pound, Virginia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://poundva.github.io" />
    <meta property="og:image" content="https://poundva.github.io/images/og-home.jpeg" />
    <title>Town of Pound, Virginia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header role="banner">
        <p id="introduction">
            <span>Welcome to the</span>
            <em>Town of Pound</em>
            <span>Wise County, Virginia</span>
        </p>
    </header>
    <main id="main">
    {{ content }}
    </main>
</body>
</html>